*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; 
}
.container{
    margin: 20px;
    height: fit-content;
    padding: 5%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background-color: rgb(38 38 38);
    color: aliceblue;
    border-radius: 10px;
}
.heading{
    width: 100%;;
    height: fit-content;
}
.parent{
    padding: 10px;
}
.search-div{
    width: 100%;;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.username-search{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.inp{
    width: 70%;
    height: 25px;
    padding-left: 5px;
    border: 1px solid rgba(255, 255, 255, 0.173);
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.868);
}
#search-button{
    margin: 10px;
    padding: 5px;
    width: 75px;
    height: 25px;
    background-color: rgb(100 210 255 );
    border-radius: 5px;
    font-size: xx-small;
}

.circle-div{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* overflow: scroll; */
}
.circle-div div{
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 5px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-div .easy{
    border-right:5px solid #1cb33d;
}


.circle-div .medium{
    border-right:5px solid #fac31d;
}


.circle-div .hard{
    border-right:5px solid #f64747;
}

.circle-div div p{
    font-size: small;
}
.info-div{
    display: grid;
    width: 100%;
    height: 30%;
    grid-template-areas: 
    "rank problem-count"
    "acceptance-rate submissions";
    
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.grid-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    gap: 5px;
}

#problem-count{
    grid-area: problem-count;
}


#rank{
    grid-area: rank;
}

#acceptance-rate{
    grid-area: acceptance-rate;
}


#submissions{
    grid-area: submissions;
}